<p-toolbar>
  <div class="p-toolbar-group-start">
    <h2>Alunos</h2>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      icon="pi pi-plus"
      label="Novo aluno"
      class="p-card-title"
      (click)="newStudent()"
    ></p-button>
  </div>
</p-toolbar>

<p-panel [toggleable]="false">
 <!--  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center w-100">
      <h2>Alunos</h2>
      <p-button
        icon="pi pi-plus"
        label="Novo aluno"
        class="p-card-title"
        (click)="newStudent()"
      ></p-button>
    </div>
  </ng-template> -->

  <p-table
    #table
    [value]="students"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [loading]="loading"
    selectionMode="single"
    [(selection)]="selectedStudent"
    (onRowSelect)="selectStudent($event.data.id)"
    dataKey="id"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '110rem' }"
    class="w-100"
    sortMode="multiple"
    [multiSortMeta]="[
      { field: 'status', order: 1 },
      { field: 'nome', order: 1 }
    ]"
    [globalFilterFields]="['nome', 'sexo', 'status', 'cpf']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="table.filterGlobal($any($event.target).value, 'contains')"
            oninput="this.value = this.value.toUpperCase()"
            placeholder="Pesquisar"
          />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="nome">Nome</th>
        <th pSortableColumn="sexo">Sexo</th>
        <th pSortableColumn="dataNascimento">Data de nascimento</th>
        <th pSortableColumn="status">Status</th>
        <th pSortableColumn="rg">RG</th>
        <th pSortableColumn="cpf">CPF</th>
        <th pSortableColumn="nomeMae">Mãe</th>
        <th pSortableColumn="naturalidade">Naturalidade</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-student let-columns="columns">
      <tr [pSelectableRow]="student">
        <td><span class="p-column-title">Nome</span>{{ student.nome }}</td>
        <td><span class="p-column-title">Sexo</span>{{ student.sexo }}</td>
        <td>
          <span class="p-column-title">Data de nascimento</span
          >{{ student.dataNascimento }}
        </td>
        <td>
          <span class="p-column-title">Status</span
          ><p-tag
            [value]="student.status"
            [severity]="getSeverity(student.status)"
          ></p-tag>
        </td>
        <td><span class="p-column-title">RG</span>{{ student.rg }}</td>
        <td><span class="p-column-title">CPF</span>{{ student.cpf }}</td>
        <td><span class="p-column-title">Mãe</span>{{ student.nomeMae }}</td>
        <td>
          <span class="p-column-title">Naturalidade</span
          >{{ student.naturalidade }}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total de {{ students ? students.length : 0 }} alunos cadastrados.
      </div>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Nenhum dado encontrado.</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
