<p-card header="Alunos">
  <div class="flex flex-column align-items-end gap-3">
    <p-button icon="pi pi-plus" label="Novo aluno"></p-button>

    <p-table class="w-100">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Sexo</th>
          <th>Data de nascimento</th>
          <th>Status</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
