:host {
  display: flex;
  height: 100vh;

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

     @media screen and (max-width: 1024px) and (orientation: landscape) {
      align-items: normal;
    }
  }

  .img-wrapper {
    background-image: url("../../../../assets/img/elderlycouple.jpg");
    background-size: cover;
    background-position: 75% center;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
