<p-toolbar>
  <p-button icon="pi pi-bars" [text]="true" class="mr-2"></p-button>

  <!--
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-bars" [text]="true" class="mr-2"></p-button>
  </div>
  <div class="p-toolbar-group-end">
    @if (theme) {
    <p-button
      icon="pi pi-moon"
      [rounded]="true"
      [text]="true"
      (click)="toggleTheme(true)"
    ></p-button>
    } @else {
    <p-button
      icon="pi pi-sun"
      [rounded]="true"
      [text]="true"
      (click)="toggleTheme(false)"
    ></p-button>
    }

    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
      shape="circle"
      (click)="menu.toggle($event)"
    ></p-avatar>

    <p-tieredMenu #menu [model]="items" [popup]="true"> </p-tieredMenu>
  </div>
  -->
</p-toolbar>
