<div class="container">
  <div class="container__logo">
    <img src="assets/logo/logo.svg" class="logo__img" alt="Logo CEAI App" />
    <span class="logo__brand">CEAI Laranjeiras</span>
  </div>

  <div class="container__header">
    <h2 class="header__title">Redefinir senha</h2>
  </div>

  <form class="container__content">
    <div class="form-field">
      <label for="password">Nova senha</label>
      <p-password [feedback]="false" [toggleMask]="true"></p-password>
    </div>

    <div class="form-field">
      <label for="password">Repita a nova senha</label>
      <p-password [feedback]="false" [toggleMask]="true"></p-password>
    </div>

    <p-button label="Redefinir"></p-button>
  </form>
</div>
