<p-toolbar>
  <div class="p-toolbar-group-start flex flex-column align-items-start">
    <p-button
      label="Voltar"
      icon="pi pi-arrow-left"
      [text]="true"
      (onClick)="voltar()"
    />

    <h2>{{ header | titlecase }} aluno</h2>
  </div>
</p-toolbar>

<p-panel [toggleable]="false">
  <form [formGroup]="studentForm" #form="ngForm" (ngsubmit)="onSubmit()">
    <p-tabView>
      <p-tabPanel header="Informações pessoais">
        <div class="formgrid grid row-gap-5">
          <div class="col-12 md:col-8 form-field">
            <label for="nome">Nome</label>
            <input
              pInputText
              id="nome"
              formControlName="nome"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>

          <div class="col-12 md:col-2 form-field">
            <label for="sexo">Sexo</label>
            <p-dropdown
              formControlName="sexo"
              [options]="sexOptions"
              optionLabel="label"
              optionValue="value"
            />
          </div>

          <div class="col-12 md:col-2 form-field">
            <label for="dataNascimento">Nascimento</label>
            <p-calendar
              formControlName="dataNascimento"
              dateFormat="dd/mm/yy"
            />
          </div>

          <div class="col-12 md:col-3 form-field">
            <label for="rg">RG</label>
            <input
              pInputText
              formControlName="rg"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>

          <div class="col-12 md:col-3 form-field">
            <label for="orgaoExpedidor">Órgão expedidor</label>
            <input
              pInputText
              formControlName="orgaoExpedidor"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>

          <div class="col-12 md:col-3 form-field">
            <label for="dataExpedicao">Expedição</label>
            <p-calendar formControlName="dataExpedicao" dateFormat="dd/mm/yy" />
          </div>

          <div class="col-12 md:col-3 form-field">
            <label for="cpf">CPF</label>
            <p-inputMask
              formControlName="cpf"
              mask="999.999.999-99"
              maxlength="14"
            />
          </div>

          <div class="col-12 md:col-6 form-field">
            <label for="nomeMae">Mãe</label>
            <input
              pInputText
              formControlName="nomeMae"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>

          <div class="col-12 md:col-6 form-field">
            <label for="naturalidade">Naturalidade</label>
            <input
              pInputText
              formControlName="naturalidade"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Endereço">
        <div class="formgrid grid row-gap-5">
          <div class="col-12 md:col-2 form-field">
            <label for="cep">CEP</label>

            <p-iconField iconPosition="right">
              <p-inputIcon
                styleClass="pi pi-search"
                class="icon"
                (click)="showModal()"
              />

              <p-dialog
                header="Header"
                [modal]="true"
                [closeOnEscape]="true"
                [(visible)]="modalVisible"
                draggable="false"
                [style]="{ width: '50rem' }"
                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
              >
                <ng-template pTemplate="header">
                  <span class="font-bold white-space-nowrap">
                    Pesquisar CEP
                  </span>
                </ng-template>

                <div class="form-field">
                  <label for="street">Rua</label>
                  <input
                    pInputText
                    id="street"
                    [formControl]="street"
                    autocomplete="off"
                    oninput="this.value = this.value.toUpperCase()"
                  />
                </div>

                <ng-template pTemplate="footer">
                  <div class="flex justify-content-end mb-5">
                    <p-button
                      label="Cancelar"
                      severity="secondary"
                      (click)="closeModal()"
                    />
                    <p-button label="Pesquisar" (click)="searchFullAddress()" />
                  </div>

                  @if (streetResults$ | async; as results) {
                  <p-table
                    #table
                    [value]="results"
                    dataKey="cep"
                    [paginator]="true"
                    [rows]="5"
                    selectionMode="single"
                    [(selection)]="selectedAddress"
                    (onRowSelect)="selectAddress($event.data)"
                    [styleClass]="'p-datatable-sm'"
                    [scrollable]="true"
                    scrollHeight="400px"
                    [tableStyle]="{ 'min-width': '60rem' }"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>CEP</th>
                        <th>Logradouro</th>
                        <th>Complemento</th>
                        <th>Bairro</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-address>
                      <tr [pSelectableRow]="address">
                        <td>{{ address.cep }}</td>
                        <td>{{ address.logradouro | uppercase }}</td>
                        <td>{{ address.complemento | uppercase }}</td>
                        <td>{{ address.bairro | uppercase }}</td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="4">Nenhum endereço encontrado.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  }
                </ng-template>
              </p-dialog>

              <p-inputMask
                formControlName="cep"
                mask="99999-999"
                maxlength="9"
                (focusout)="getAddress()"
              />
            </p-iconField>

            <!-- <p-inputMask
              formControlName="cep"
              mask="99999-999"
              maxlength="9"
              (focusout)="getAddress()"
            /> -->
          </div>

          <div class="col-12 md:col-8 form-field">
            <label for="endereco">Endereço</label>
            <input
              pInputText
              id="endereco"
              formControlName="endereco"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>

          <div class="col-12 md:col-2 form-field">
            <label for="numero">Nº</label>
            <input
              pInputText
              pKeyFilter="num"
              id="numero"
              formControlName="numero"
            />
          </div>

          <div class="col-12 md:col-6 form-field">
            <label for="bairro">Bairro</label>
            <p-dropdown
              formControlName="bairro"
              [editable]="true"
              [showClear]="true"
              [filter]="true"
              filterBy="value"
              [options]="bairrosOptions"
              optionLabel="value"
              optionValue="id"
              placeholder="Bairro"
            />
          </div>

          <div class="col-12 md:col-6 form-field">
            <label for="complemento">Complemento</label>
            <input
              pInputText
              id="complemento"
              formControlName="complemento"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Contato">
        <form formArrayName="contatos" class="flex flex-column flex-wrap gap-5">
          <ng-container
            *ngFor="let contato of contatos().controls; let contatoId = index"
            [formGroupName]="contatoId"
          >
            <div class="formgrid grid row-gap-5">
              <div class="col-12 md:col-3 form-field">
                <label for="contato">Telefone {{ contatoId + 1 }}</label>
                <p-inputMask
                  formControlName="contato"
                  mask="(99) ?9 9999-9999"
                  maxlength="16"
                />
              </div>

              <div class="col-12 md:col-5 form-field">
                <label for="responsavel">Responsável</label>
                <input
                  pInputText
                  id="responsavel"
                  formControlName="responsavel"
                  oninput="this.value = this.value.toUpperCase()"
                />
              </div>

              <div class="col-12 md:col-3 form-field">
                <label for="parentesco">Parentesco</label>
                <p-dropdown
                  formControlName="parentesco"
                  [options]="parentescoContatoOptions"
                  optionLabel="value"
                  optionValue="id"
                />
              </div>

              <div class="col-12 md:col-1 flex align-items-end">
                @if (width > 768) {
                <p-button
                  icon="pi pi-trash"
                  [rounded]="true"
                  [text]="true"
                  severity="danger"
                  (click)="removerContato(contatoId)"
                />
                } @else {
                <p-button
                  icon="pi pi-trash"
                  [outlined]="true"
                  severity="danger"
                  label="Remover contato"
                  (click)="removerContato(contatoId)"
                />
                }
              </div>
            </div>
          </ng-container>

          <p-button
            icon="pi pi-plus"
            [outlined]="true"
            severity="secondary"
            size="small"
            label="Adicionar contato"
            (click)="adicionarContato()"
          />
        </form>
      </p-tabPanel>

      <p-tabPanel header="Histórico">
        <div class="formgrid grid row-gap-5"></div
      ></p-tabPanel>

      <p-tabPanel header="Grade horária">
        <div class="formgrid grid row-gap-5"></div
      ></p-tabPanel>
    </p-tabView>
  </form>

  <p-button label="Salvar" (click)="onSubmit()"></p-button>
</p-panel>
