:host {
  ::ng-deep {
    .p-card-title {
      font-size: 1rem;
      font-weight: 500;
    }

    .p-card-content {
      font-size: 1.875rem;
      font-weight: 600;
      color: var(--surface-900);
      padding: 0;
    }
  }
}
