:host {
  /* width: 100%;
  height: 100%;

  border: 1px solid red;

  div {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
  }*/

  ::ng-deep {
    .p-card {
    }

    .p-card-title {
      font-size: 1rem;
      font-weight: 500;
    }

    .p-card-content {
      font-size: 1.875rem;
      font-weight: 600;
    }

  }
}
