<div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Total de alunos">
      <div class="flex justify-content-between align-items-center gap-2">
        <span>1011</span>
        <span class="pill pill--success">
          <i class="pi pi-arrow-up" style="font-size: 0.75rem"></i> 15%
        </span>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Transferências">
      <div class="flex justify-content-between align-items-center gap-2">
        <span>1</span>
        <span class="pill pill--danger">
          <i class="pi pi-arrow-down" style="font-size: 0.75rem"></i> 2%
        </span>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Desistências">
      <div class="flex justify-content-between align-items-center gap-2">
        <span>3</span>
        <span class="pill pill--success">
          <i class="pi pi-arrow-up" style="font-size: 0.75rem"></i> 2%
        </span>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Óbitos">
      <div class="flex justify-content-between align-items-center gap-2">
        <span>0</span>
        <span class="pill pill--success">
          <i class="pi pi-arrow-up" style="font-size: 0.75rem"></i> 2%
        </span>
      </div>
    </p-card>
  </div>

  <div class="col-12 md:col-9">
    <p-card header="Matrículas" [style]="{ height: '268px' }">
      <p-chart type="bar" [data]="data" [options]="data.options"></p-chart>
    </p-card>
  </div>
  <div class="col-12 md:col-3">
    <p-card header="Alunos por sexo" [style]="{ height: '268px' }">
      <p-chart
        type="doughnut"
        [data]="userBySexData"
        [options]="userBySexData.options"
        [responsive]="true"
        height="180"
      ></p-chart>
    </p-card>
  </div>
</div>

<div class="grid"></div>
