<div class="container">
  <div class="container__logo">
    <img src="assets/logo/logo.svg" class="logo__img" alt="Logo CEAI App" />
    <span class="logo__brand">CEAI Laranjeiras</span>
  </div>

  <div class="container__header">
    <h2 class="header__title">Redefinir senha</h2>
    <p class="header__subtitle">
      Informe seu e-mail cadastrado para enviarmos o código de ativação para redefinir sua senha.
    </p>
  </div>

  <form class="container__content">
    <div class="form-field">
      <label for="email">E-mail</label>
      <input pInputText id="email" />
    </div>

    <p-button label="Enviar"></p-button>
  </form>

  <div class="container__footer">
    <p>
      Já tem uma conta? <a class="link" routerLink="../entrar">Faça login</a>
    </p>
  </div>
</div>
