<p-sidebar
  [(visible)]="sidebarVisible"
  [showCloseIcon]="false"
  [modal]="true"
  (onHide)="onHide($event)"
>
  <ng-template pTemplate="header">
    <div class="sidebar__header">
      <img
        src="assets/logo/logo.svg"
        class="sidebar__logo"
        alt="Logo CEAI App"
      />
      <span class="sidebar__brand">CEAI Laranjeiras</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
  </ng-template>
  <ng-template pTemplate="footer">Footer Content</ng-template>
</p-sidebar>
