:host ::ng-deep {
  .p-sidebar {
    width: 280px;
    background-color: var(--surface-0);
  }

  .p-sidebar-header {
    height: 70px;
    padding: 32px 24px 0;

    .sidebar__header {
      display: flex;
      align-items: center;
    }

    .sidebar__logo {
      height: 32px;
      margin-right: 8px;
    }

    .sidebar__brand {
      font-size: 18px;
      font-weight: bold;
      color: var(--gray-900)
    }
  }

  .p-sidebar-content {
    //padding: 24px 32px;

    .navigation__item {
      width: 100%;
      border-radius: 8px;
      padding: 8px 12px;
      margin-bottom: 8px;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
      }

      i {
        margin-right: 12px;
      }

      span {
        font-size: 1rem;
        font-weight: 500;
      }

      &--active {
        background-color: var(--highlight-bg);
        color: var(--highlight-text-color);
      }

      &:hover {
        background-color: var(--highlight-bg);
        color: var(--highlight-text-color);
      }
    }
  }
  .p-sidebar-footer {
    padding: 0 24px 32px;

    .user {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 8px 12px;
      cursor: pointer;

      .user__picture {
        margin-right: 12px;
      }

      .user__info {
        .user__name,
        .user__position {
          margin: 0;
          font-size: 14px;
        }
      }

      i {
        margin-left: auto;
      }

      &:hover {
        background-color: var(--surface-100);
      }
    }
  }
}
