<p-sidebar
  [(visible)]="sidebarVisible"
  [showCloseIcon]="false"
  [modal]="width < 1000"
  (onHide)="onHide($event)"
>
  <ng-template pTemplate="header">
    <div class="sidebar__header">
      <img
        src="assets/logo/logo.svg"
        class="sidebar__logo"
        alt="Logo CEAI App"
      />
      <span class="sidebar__brand">CEAI Rondon</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <ul class="sidebar__navigation list-none">
      @for (item of items; track item.label) {
        <li class="navigation__item" >
          <a class="text-decoration-none" >
            <i class="{{item.icon}}" style="font-size: 1.5rem"></i>
            <span class="">
              {{item.label}}
            </span>
          </a>
        </li>
      }
    </ul>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="user" (click)="logout()">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
        class="user__picture"
      ></p-avatar>

      <div class="user__info">
        <h6 class="user__name">User name</h6>
        <p class="user__position">User position</p>
      </div>

      <i class="pi pi-sign-out"></i>

    </div>
  </ng-template>
</p-sidebar>
