/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0;
}

.list-none {
  list-style: none;
  padding: 0;
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hint-error {
  color: var(--red-600);
}

.link {
  color: var(--primary-600);
  font-weight: 600;
  text-decoration: none;
}

.pill {
  border-radius: 16px;
  padding: 4px 10px;
  font-size: 0.875rem;

  &--success {
    background-color: var(--green-50);
    border: 1px solid var(--green-200);
    color: var(--green-700);
    font-weight: bold;

    i {
      color: var(--green-500);
    }
  }

  &--danger {
    background-color: var(--red-50);
    border: 1px solid var(--red-200);
    color: var(--red-700);
    font-weight: bold;

    i {
      color: var(--red-500) !important;
    }
  }

  &--success {
    background-color: var(--green-50);
    border: 1px solid var(--green-200);
    color: var(--green-700);
    font-weight: bold;

    i {
      color: var(--green-500);
    }
  }
}

//Scrollbar personalization
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--surface-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--surface-300);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--surface-400);
}

