/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0;
}

.list-none {
  list-style: none;
  padding: 0;
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

.w-50 {
  width: 50%;
  border: 1px solid red;
}
